# Create a new directory and enter it
function mkd() {
   mkdir -p "$@" && cd "$@"
}

#shortcut voor zhs quick-look command
function ql() {
   quick-look "$1"
}

function removehost() {
   ssh-keygen -R "$1"
}
